{% extends '_base.html' %}

{% block content %}
    <h2>Addresses</h2>
    <div class="row">
        {% for address in object_list %}
         <div class="col-sm-3">
        <div class="card">

        <ul class="list-group" >
            <li class="list-group-item bg-secondary">{{ address.street_address1}} {{ address.street_address2}}</li>
            <li class="list-group-item">{{ address.city}}</li>
            <li class="list-group-item">{{ address.state}}</li>
        </ul>
    </div> 
</div> 
    <br>     

        {% endfor %}
        
    </div> 
    <a  class="btn btn-primary" href="{% url 'address:address-add'%}">Add Address</a>
    {%include 'pagination.html'%}
{% endblock %}