beautifulsoup4==4.8.1
certifi==2019.9.11
Django==2.2.7
django-bootstrap4==1.0.1
django-crispy-forms==1.8.0
django-extensions==2.2.5
djangorestframework==3.10.3
mysqlclient==1.4.6
Pillow==6.2.1
pipenv==2018.11.26
PyMySQL==0.9.3
pytz==2019.3
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
virtualenv==16.7.8
virtualenv-clone==0.5.3
