asgiref==3.2.10
beautifulsoup4==4.8.1
certifi==2019.9.11
Django==3.0.7
django-bootstrap4==1.0.1
django-crispy-forms==1.8.0
django-extensions==2.2.5
django-sendgrid-v5==0.8.1
djangorestframework==3.10.3
future==0.18.2
mysqlclient==1.4.6
Pillow==6.2.1
pipenv==2018.11.26
PyMySQL==0.9.3
python-http-client==3.2.7
pytz==2019.3
sendgrid==6.4.1
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
starkbank-ecdsa==1.0.0
virtualenv==16.7.8
virtualenv-clone==0.5.3
