<!-- registration/change_password.html -->
{% extends '_base.html' %} {%block head_title%}Change Your Password {% endblock head_title %} {% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h1>Change Password</h1>
            </div>

            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %} {{ form.as_p }}
                    <a class="btn btn-secondary" href="{% url 'mainpage' %}">Back</a>
                    <input type="submit" class="btn btn-success" value="Save Change">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}