{% extends '_base.html' %}

{% block content %}
<h1>Rental properties</h1>
<main class="card">
        
    <ul class="list-group">
        {% for rentalproperty in object_list %}
            <li class="list-group-item"> <a class="btn btn-link mr-auto" href="{{ rentalproperty.get_absolute_url}}">
                 {{ rentalproperty.name}}</a> in {{ rentalproperty.location.city}} Available rooms({{rentalproperty.rooms}})
           
         
              
              {% if request.user.is_authenticated %}
              <span class=" btn-group pull-right"><a class="btn btn-primary" href="{{ rentalproperty.get_update_url}}">Edit Property</a>
                <a class="btn btn-danger" href="{{rentalproperty.get_delete_url}}">Delete Property</a></span>
              {% endif %}
                   
     
               
                </li>            
        {% endfor %}
        {% if request.user.is_authenticated %}
        <li class="list-group-item"><a class="btn btn-primary" href="{% url 'housing:property-create'%}">Add Property</a></li>
    {% endif %}
    </ul>
    {%include 'pagination.html'%}
</main>

{% endblock %}