{% extends '_base.html' %}
{% block head_title %}Logout {{block.super}}{% endblock head_title%}
{% block headline %}
{% endblock headline %}
	{% block content %}
		<div class="row">
			<div class="col-md-6 offset-3">				
				<div class="card">
					<p class="alert alert-success">
						You have been successfully logged out....
					</p>
					<p><a class="btn btn-info" href="{% url 'accounts:login'%}">Log in again</a>
					 No account? <a class="btn btn-info" href="{% url 'accounts:register'%}">Register</a></p>
					 <a class="btn btn-secondary" href="{% url 'mainpage'%}">
						<i class="fas fa-arrow-left fa-2x"></i>
					 <i class="fas fa-home fa-2x"></i> Back Home</a>
					
				</div>
			</div>
		</div>
	{% endblock content%}