{% extends '_base.html'%}
{% load static %}
{{block.super}} | home
{% block content%}

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-10 col-sm-offset-1">
                <h1>Find a housing that fits your need.</h1>
                <p>
                We are happy to help you find the housing. Contact us and let us what you need so we can assist in getting the housing that is affodable and convinient for you
                </p>
            </div>
        </div>
    </div>
    <h2>Check out the available housing <a class="btn btn-primary" href="{%url 'housing:property-list'%}">View Housing</a></h2>
</div>

   
       

{% endblock content%}