{% extends '_base.html'%} {% load static %} {{block.super}} | home {% block content%}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Find a housing that fits your need.</h1>
        {% include "home_carousel.html" %}
        <p>
            We are happy to help you find the housing. Contact us and let us what you need so we can assist in getting the housing that is affodable and convinient for you
        </p>
    </div>
</section>

<section class="container">
    <div class="row card-deck">
        <div class="col-md-4 card">
            <h2 class="text-center">All Housing</h2>
            <div class="card-body">
                <p class="card-text">Check out all available housing.</p>
                <a class="btn btn-outline-secondary" href="{%url 'housing:property-list'%}">View Housing</a>
            </div>
        </div>
        <div class="col-md-4 card">
            <h2 class="text-center">Latest listings</h2>
            <div class="card-body">
                <p class="card-text">Check out the newly posted housing.</p>
                <a class="btn btn-outline-secondary" href="{%url 'housing:property-list'%}">View latest</a>
            </div>
        </div>
        <div class="col-md-4 card">
            <h2 class="text-center">Other</h2>
            <div class="card-body">
                <p class="card-text">Other housing</p>
                <a class="btn btn-outline-secondary" href="{%url 'housing:property-list'%}">View Housing</a>
            </div>
        </div>
    </div>
    </div>
</section>


{% endblock content%}